model_version: 2.0
product_va_config:
    name: eric-enmsg-fmx-rabbitmq-server
    product_name: eric-enmsg-fmx-rabbitmq-server
    version: 0.0.1
    va_template_version: 2.0.0
    description: The cENM FMX RabbitMQ Server image
    images:
        - armdocker.rnd.ericsson.se/proj_oss_releases/enm/eric-enmsg-fmx-rabbitmq-server

    mitigations:
        CVE-XXXX-XXXX:
            mitigation: This is a placeholder, example mitigation. Add mitigation steps below.
            sce:
                sce-id: SCE-XXXX-XX
                status: Pending
                expires: 2021-12-10T00:00:00Z